<!DOCTYPE html>

<html>
<head>
        <title>About</title>
                <link rel="icon" href="/img/weather.png">

        <link rel="stylesheet" href="/css/styles.css">
        <script src="/js/app.js"> </script>
</head>

<body>
    <div class="main-content">

  {{>header}}
     
        <p> This app uses the following APIs:</p> 
        <ul>
                <li><bold> weatherstack API</bold> to get address coordinates </li>
                <li><bold>mapbox API</bold> to get a weather forecast of the address provided</li>
        </ul>
   <p> This app was created by Alex Swiec, and here is my pic :)</p>
   <img class="portrait" src="/img/Alex_HS.png">

    </div>
  
    {{>footer}}

</body>

</html>